extends ../layouts/header
block content
    h3 Create Transaction
    form(action="/transactions/create", method="post")
        select(name="username")
            each user in users
                option(value= user.username)= user.username
        select(name="title")
            each book in books
                option(value= book.title)= book.title
        button Create