extends ../layouts/header
block content
  a(href="/users/create", class="btn btn-primary btn-lg active", role="button", aria-pressed="true") Create new user
  table.table
    thead.thead-dark
      tr
        th ID
        th Avatar
        th Username
        th Email
        th
        th
    tbody
      each user in users
        tr
          td= user.id
          if user.avatarUrl
            td
              img.avatar(src= user.avatarUrl)
          else
            td
              img.avatar(src="./default-avatar.png")
          td= user.username
          td= user.email
          if user.isAdmin !== true
            td
              a(href="/users/"+user.id+"/profile") Edit
            td
              a(href="/users/"+user.id+"/delete") Delete
        
